
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<div class="container justify-content-center text-center mt-5">
    <div class="about-body">
        <h2 class="mt-3">About us</h2>
    </div>
    <p class="about-text mt-3">

        JobSpeak was designed to help individuals find the right jobs effortlessly. Our goal is simple: no one should remain jobless due to a lack of opportunities or guidance.


        Our mission is to bridge the gap between talent and opportunity, making job hunting smoother and more accessible for everyone. Whether you’re a fresher or an experienced professional, JobSpeak is here to support you in finding the job that best fits your skills and ambitions. Together, we are shaping a future where employment is within everyone’s reach!
    </p>
    <center>
        <div class="event-swiper">
            <img src="~/Content/Static/23.jpg" />
        </div>
    </center>
</div>
